<div class="container nopadding" class="basic-info">
    <div class="row">

      <div class="col-lg-12">

        <div *ngIf="(userInfo$ | async) as userInfo; else loading">

            <img class="basic-info__image" src="{{userInfo.avatar_url}}" alt="User's profile image">

            <p class="basic-info__name">{{userInfo.name}}</p>
            <p class="basic-info__login">{{userInfo.login}}</p>
            <p class="basic-info__email">{{userInfo.email ? userInfo.email : 'PRIVATE_EMAIL' | translate }}</p>

        </div>

      </div>

    </div>
</div>

<ng-template #loading>
  <p class="loading">{{ 'LOADING' | translate }}</p>
</ng-template>